{
  "extends": ["plugin:@typescript-eslint/recommended"],
  "rules": {
    "indent": "off",
    "@typescript-eslint/indent": ["error", 4],
    "@typescript-eslint/ban-ts-comment": "off",
    "prefer-spread": "warn"
  }
}
